@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Unbounded";
}

.footer {
  background-color: #d4ce2d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 137px;
  width: 100%;
}

.footer-text {
  text-align: center;
  font-size: 63px;
  font-weight: 900;
}

@media (max-width: 1241px) {
    .footer-text {
        font-size: 43px;
      }
}
@media (max-width: 863px) {
    .footer-text {
        font-size: 33px;
      }
}
